<table>
	<tr>
		<th>Name</th>
		<th>Quantity</th>
		<th>Price</th>
	</tr>

	<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= product.quantity %></td>
			
		</tr>
	<% end %>
</table>